<h1>Add A New photo</h1>
<form action="http://localhost:3000/create_photo">
  <label for="photo_caption2">Caption:</label >
  <input id="photo_caption2"type="text" name="the_caption">

  <label for="photo_source2">Image URL:</label>
  <input id="photo_source2" type="text" name="the_source">

  <button>Create Photo</button>

</form>
